PUBLIC_URL=https://seu-servico.onrender.com
TELEGRAM_TOKEN=123456:ABCDEF
TELEGRAM_CHAT_ID=123456789
BR_CONFIG=[{"uid":"SEU_UID","password":"SUA_SENHA"}]
IND_CONFIG=[]
EUROPE_CONFIG=[]
RELEASE_VERSION=OB51
